.section1{
    color: rebeccapurple;
    font-size: large;
    text-align: center;
    border: double;
}
.section2{
    color: gainsboro;
    font-size: medium;
    text-align: right;
    border: cornflowerblue;
}
.section3{
    color: cornflowerblue;
    font-size: small;
    text-align: left;
    border: wheat;
}

nav ul{
    list-style: none;
    text-decoration: none;
    margin: 0;
    padding: 0;
    display: flex;
}
nav ul li a{
    display: block;
    padding: 14px 20px;
    text-decoration: none;
    color: white;
    font-weight: bold;
}
nav{
    background-color: black;
}
a:hover{
    transition: font-size 0.5s ease;
    font-size: 20px;
}